<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑书籍</title>
</head>
<body>
<h1>编辑书籍</h1>
<form action="" method="post">
    <input type="text" name="book_title" value="{{ book_id_obj.title }}">
    <select name="publisher_id" >
        {% for press in press_data %}
            {% if book_id_obj.press == press %}
                 <option selected value="{{ press.id }}">{{ press.name }}</option>
            {% else %}
                <option value="{{ press.id }}">{{ press.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit">
</form>

</body>
</html>